NODE_ENV = development
PORT=3400


DB_HOST = 
DEV_DB_URL=
DEV_DB_USER=
DEV_DB_PASSWORD=

PROD_DB_HOST = 
PROD_DB_URL=
PROD_DB_USER=
PROD_DB_PASSWORD=


JWT_SECRET=
JWT_ACCESS_EXPIRATION_MINUTES=120
JWT_REFRESH_EXPIRATION_DAYS=365
JWT_PRIVATE_KEY = 

SECRET_KEY = 
SECRET_IV=

# SMTP configuration options for the email service
SMTP_HOST= 
SMTP_PORT= 
SMTP_USERNAME= 
SMTP_PASSWORD=
EMAIL_FROM= 
CLIENT_NAME= 

